/*共通css*/
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
margin: 0px auto;
padding: 0px;
text-align: center;
font-size: 16px;/*rem指定のための基準サイズ */
background-color: #F2F2F2;
}

li{
  font-family: 'Raleway', sans-serif;
  display: inline;
  font-size: 1rem;
  color: #333333;
  margin-top: 2rem;
  margin-bottom: 10rem;
  margin: 0.3rem;
}

a:link { color: #696969; }
a:visited { color: #696969; }
a:hover { color: #333333; }
a:active { color: #333333; }


img#logo{
  width:16%;
  min-width: 170px;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

img{
  width: 30%;
}

header{
  margin-top: 4rem;
  margin-bottom: 1rem;
}


main{
  margin: 2rem;


}

section#galla {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left:13%;
  margin-right: 13%;
}

section#galla article {
  width: 420px;
  margin-bottom: 2rem;
  line-height: 150%;
  overflow: hidden;

}

section#galla img {
  width: 100%;
  transition: 0.5s;

}

section#galla img:hover {
	transform: scale(1.03, 1.03);
}

footer{
  margin-bottom: 4rem;
}

div#sns  a{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

p#from{
  margin-bottom: 2rem;
  font-family: 'Raleway', sans-serif;
  color: #008080;
}

div.movie{
  margin-bottom: 8rem;
}

.scroll-top {
position: fixed;
right: 20px;
bottom: 20px;
z-index: 100;
background-color: #999;
opacity: .8;
width: 50px;
border: none;
color: #fff;
}
.scroll-top:hover {
cursor: pointer;
}

div.livesec{
  background-color: #333333;
  height: 700px;
}

div.consec{
  background-color: #white;
  height: 700px;
}

img.mokuzi{width: 20%;
  max-width: 190px;
margin-top: 1rem;
}
