/*共通css*/
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
margin: 0px auto;
padding: 0px;
text-align: center;
font-size: 16px;/*rem指定のための基準サイズ */
background-color: white;
}
p{
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #484848;
}

li{
  font-family: 'Manrope', sans-serif;
  display: inline;
  font-size: 1rem;
  color: #333333;
  margin-top: 2rem;
  margin-bottom: 10rem;
  margin: 0.3rem;
}

a:link { color: #696969; }
a:visited { color: #696969; }
a:hover { color: #008080 ;}
a:active {color: #008080 ;}


img#logo{
  width:16%;
  min-width: 170px;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

img{
  width: 30%;
}

header{
  margin-top: 4rem;
  margin-bottom: 1rem;
}


main{
  margin: 5rem;
}

section#galla {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left:9%;
  margin-right: 7%;
}

section#galla article {
  width: 480px;
  margin-bottom: 4rem;
  line-height: 150%;
  overflow: hidden;
  border-radius: 8px;
}

section#galla img {
  width: 100%;
  transition: 0.5s;
  border-radius: 2px;
}

section#galla img:hover {
	transform: scale(1.03, 1.03);
}

footer{
  margin-bottom: 4rem;
}

div#sns  a{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

p#from{
  margin-bottom: 2rem;
  font-family: 'Raleway', sans-serif;
  color: #008080;
}

div.movie{
  margin-bottom: 8rem;
}


div.livesec{
  background-color: #333333;
  height: 500px;

}

div.consec{
  background-color: #white;
  height: 450px;
}

img.mokuzi{width: 20%;
  max-width: 190px;
  min-width: 100px;
margin-top: 1rem;
padding-bottom: 0.6rem;
border-bottom: 1.2px solid #333333;
}
img.mokuzi2{width: 7%;
  max-width: 190px;
margin-top: 1rem;
min-width: 50px;
padding-bottom: 0.6rem;
border-bottom: 1.2px solid white;
}

div#mailbox{
  margin: 5rem;
}

div.livesec ul{
  margin-top: 1rem;
  color: #c6c6c6;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

div.day{
  margin-top: 10%;
}



div#mask {
  cursor: pointer;
  display: none;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  display: none;
  background: #fff;
  color: #555;
  width: 70%;
  height: auto;
  padding: 3%;
  border-radius: 4px;
  position: fixed;/* 重要*/
	top: 50%;/* 重要*/
	left: 50%;/* 重要*/
	transform: translate(-50%, -50%);/* 重要*/
  margin: 0 auto;
  z-index: 2;
  transition: 0.4s;
  text-align: center;
}

#modatea {
  display: none;
  background: #fff;
  color: #555;
  width: 70%;
  height: auto;
  padding: 3%;
  border-radius: 4px;
  position: fixed;/* 重要*/
	top: 50%;/* 重要*/
	left: 50%;/* 重要*/
	transform: translate(-50%, -50%);/* 重要*/
  margin: 0 auto;
  z-index: 2;
  transition: 0.4s;
  text-align: center;
}
#modal3 {
  display: none;
  background: #fff;
  color: #555;
  width: 70%;
  height: auto;
  padding: 3%;
  border-radius: 4px;
  position: fixed;/* 重要*/
	top: 50%;/* 重要*/
	left: 50%;/* 重要*/
	transform: translate(-50%, -50%);/* 重要*/
  margin: 0 auto;
  z-index: 2;
  transition: 0.4s;
  text-align: center;
}
#modal4 {
  display: none;
  background: #fff;
  color: #555;
  width: 70%;
  height: auto;
  padding: 3%;
  border-radius: 4px;
  position: fixed;/* 重要*/
	top: 50%;/* 重要*/
	left: 50%;/* 重要*/
	transform: translate(-50%, -50%);/* 重要*/
  margin: 0 auto;
  z-index: 2;
  transition: 0.4s;
  text-align: center;
}
.movie-wrap {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.movie-wrap iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

.point{
  cursor: pointer;
  animation: fadeIn 2s ease 0s 1 normal;
}
@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}


p #mail{
  border: solid black;
}

.fa-chevron-circle-up{
  position: fixed;
  top:90%;
  left: 90%;
}
